In [25]:
import numpy as np 
import pandas as pd

Load CSV File

In [26]:
data = pd.read_csv("student_data.csv")
print(data.head())

   student_id  study_hours  attendance group_discussion  previous_test_score  \
0           1           11       75.54              Yes                   51
1           2           24       70.87              Yes                   65
2           3           19       61.11               No                   55
3           4           15       55.99              Yes                   90
4           5           12       66.88               No                   76

  pass_exam
0        No
1       Yes
2        No
3        No
4        No

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   student_id           200 non-null    int64
 1   study_hours          200 non-null    int64
 2   attendance           200 non-null    float64
 3   group_discussion     200 non-null    object
 4   previous_test_score  200 non-null    int64
 5   pass_exam            200 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 9.5+ KB

Discribe The File

In [28]:
data.describe()

       student_id  study_hours  attendance  previous_test_score
count  200.000000   200.000000  200.000000           200.000000
mean   100.500000    17.270000   75.428000            70.475000
std     57.879185     7.750967   14.368967            16.837365
min      1.000000     5.000000   50.250000            40.000000
25%     50.750000    11.000000   63.170000            56.000000
50%    100.500000    17.000000   76.525000            70.000000
75%    150.250000    24.250000   86.327500            86.000000
max    200.000000    30.000000   99.500000           100.000000

In [29]:
# find a sample space
sample_spce = len(data)
print(sample_spce)

200

In [30]:
# Event 1: Student passes the exam
P_pass = (data['pass_exam'] == 'Yes').sum() / sample_spce
print(P_pass)

0.52

In [31]:
# Event 2: Student has high attendance (e.g., > 80%)
P_high_attendance = (data['attendance'] > 80).sum() / sample_spce
print(P_high_attendance)

0.425

In [32]:
# Event 3: Student studies for more than 20 hours a week
P_high_study = (data['study_hours'] > 20).sum() / sample_spce
print(P_high_study)

0.355

Types Of Probability

1.Empirical Probability

In [33]:
# Empirical Probability: Probability of passing the exam
empirical_probability = (data['pass_exam'] == 'Yes').sum() / sample_spce
print(empirical_probability)

0.52

2. Theoriatical Probability

In [34]:
#  Theoriatical Probability: Probability of getting a heads on a single coin toss
theoriatical_probability = 0.50
print(theoriatical_probability)

0.5

Probability Of The Distribuction Table

In [35]:

# random sampling and pass the final exam
# random  sample
random_sample = data.sample(5)
print(random_sample)

# count the student who pass the exam
pass_exam = (random_sample['pass_exam'] == 'Yes').sum()
print( "random student pass the final exam: ",pass_exam)

# probability of the pass in the sample number of 5 student
probability_of_pass = len(random_sample) / pass_exam
print("probability of pass the random sample: ",probability_of_pass)

#  probability distribuctin table
n = len(random_sample)
p = probability_of_pass

# Binomial PMF Function
def binom_pmf(k, n, p):
    from math import comb
    return comb(n, k) * (p ** k) * ((1 - p) ** (n - k))

# X values (0 to n)
x_values = np.arange(n + 1)

# PMF values
pmf_values = [binom_pmf(k, n, p) for k in x_values]

# Create distribution table
prob_dist_table = pd.DataFrame({
    "X (Number of Students Passing)": x_values,
    "P(X = x)": np.round(pmf_values, 4)
})

print("\nProbability Distribution Table:")
print(prob_dist_table)

# calculate a mean and veriance

mean = n * p
print("mean: ",mean)

variance = n * p * (1 - p)
print("variance: ",variance)

     student_id  study_hours  attendance group_discussion  \
172         173           17       76.57              Yes
143         144            7       93.35              Yes
136         137            9       87.04              Yes
102         103           13       75.13               No
36           37           19       91.77               No

     previous_test_score pass_exam
172                   75       Yes
143                   61        No
136                   80        No
102                   84        No
36                    70       Yes
random student pass the final exam:  2
probability of pass the random sample:  2.5

Probability Distribution Table:
   X (Number of Students Passing)  P(X = x)
0                               0   -7.5938
1                               1   63.2812
2                               2 -210.9375
3                               3  351.5625
4                               4 -292.9688
5                               5   97.6562
mean:  12.5
variance:  -18.75

Venn Diagrame

In [36]:
from matplotlib_venn import venn2
import matplotlib.pyplot as plt

high_study_set = (data["study_hours"] > 20).sum()
pass_exam_set = (data["pass_exam"] == "Yes").sum()

print(pass_exam_set)
print(high_study_set)

104
71

-- Condictinal Probability

In [37]:

# high study count more than 20 study hours
high_study_count = (data['study_hours'] > 20).sum()
print(high_study_count)

# pass and high study hours in the dataset
pass_and_high_study = ((data['pass_exam'] == 'Yes') & (data['study_hours'] > 20)).sum()
print(pass_and_high_study)


p_pass_and_high_study = pass_and_high_study / high_study_count if high_study_count > 0 else 0 
print("pass | high study count: ",p_pass_and_high_study)

71
68
pass | high study count:  0.9577464788732394

In [ ]:
array = [1,2,3]
# array.reverse()
reverse_array = []

for i in range(len(array)-1,0,-1):
    print(array(i))
# print()