In [58]:
import numpy as np 
import pandas as pd

Load CSV File

In [59]:
data = pd.read_csv("student_data.csv")
print(data.head())

   student_id  study_hours  attendance group_discussion  previous_test_score  \
0           1           11       75.54              Yes                   51
1           2           24       70.87              Yes                   65
2           3           19       61.11               No                   55
3           4           15       55.99              Yes                   90
4           5           12       66.88               No                   76

  pass_exam
0        No
1       Yes
2        No
3        No
4        No

In [60]:
data.shape

(200, 6)

In [61]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   student_id           200 non-null    int64
 1   study_hours          200 non-null    int64
 2   attendance           200 non-null    float64
 3   group_discussion     200 non-null    object
 4   previous_test_score  200 non-null    int64
 5   pass_exam            200 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 9.5+ KB

Discribe The File

In [62]:
data.describe()

       student_id  study_hours  attendance  previous_test_score
count  200.000000   200.000000  200.000000           200.000000
mean   100.500000    17.270000   75.428000            70.475000
std     57.879185     7.750967   14.368967            16.837365
min      1.000000     5.000000   50.250000            40.000000
25%     50.750000    11.000000   63.170000            56.000000
50%    100.500000    17.000000   76.525000            70.000000
75%    150.250000    24.250000   86.327500            86.000000
max    200.000000    30.000000   99.500000           100.000000

In [63]:
# find a sample space
sample_spce = len(data)
print(sample_spce)

200

probability of passing the exam

In [64]:
# Event 1: Student passes the exam
P_pass = (data['pass_exam'] == 'Yes').sum() / sample_spce
print("probability of passing the exam: ",P_pass)

probability of passing the exam:  0.52

In [65]:
# Event 2: Student has high attendance (e.g., > 80%)
P_high_attendance = (data['attendance'] > 80).sum() / sample_spce
print("probability of high attendence: ",P_high_attendance)

probability of high attendence:  0.425

In [66]:
# Event 3: Student studies for more than 20 hours a week
P_high_study = (data['study_hours'] > 20).sum() / sample_spce
print("probability of high study hours: ",P_high_study)

probability of high study hours:  0.355

Types Of Probability

1.Empirical Probability

In [67]:
# Empirical Probability: Probability of passing the exam
empirical_probability = (data['pass_exam'] == 'Yes').sum() / sample_spce
print("Empirical probability: ",empirical_probability)

Empirical probability:  0.52

2. Theoriatical Probability

In [68]:
#  Theoriatical Probability: Probability of getting a heads on a single coin toss
theoriatical_probability = 0.50
print(theoriatical_probability)

0.5

Probability Of The Distribuction Table

Randomly selected students and find a mean and veriance

In [69]:

# random sampling and pass the final exam
# random  sample
random_sample = data.sample(5)
print(random_sample)

# count the student who pass the exam
pass_exam = (random_sample['pass_exam'] == 'Yes').sum()
print( "random student pass the final exam: ",pass_exam)

# probability of the pass in the sample number of 5 student
probability_of_pass = len(random_sample) / pass_exam
print("probability of pass the random sample: ",probability_of_pass)

#  probability distribuctin table
n = len(random_sample)
p = probability_of_pass

# Binomial PMF Function
def binom_pmf(k, n, p):
    from math import comb
    return comb(n, k) * (p ** k) * ((1 - p) ** (n - k))

# X values (0 to n)
x_values = np.arange(n + 1)

# PMF values
pmf_values = [binom_pmf(k, n, p) for k in x_values]

# Create distribution table
prob_dist_table = pd.DataFrame({
    "X (Number of Students Passing)": x_values,
    "P(X = x)": np.round(pmf_values, 4)
})

print("\nProbability Distribution Table:")
print(prob_dist_table)

# calculate a mean and veriance

mean = n * p
print("mean: ",mean)

variance = n * p * (1 - p)
print("variance: ",variance)

     student_id  study_hours  attendance group_discussion  \
11           12           15       98.12               No
188         189           29       58.66              Yes
107         108           11       64.04               No
25           26           25       99.28              Yes
116         117           21       96.42               No

     previous_test_score pass_exam
11                    86       Yes
188                   62       Yes
107                   64        No
25                    72       Yes
116                   74       Yes
random student pass the final exam:  4
probability of pass the random sample:  1.25

Probability Distribution Table:
   X (Number of Students Passing)  P(X = x)
0                               0   -0.0010
1                               1    0.0244
2                               2   -0.2441
3                               3    1.2207
4                               4   -3.0518
5                               5    3.0518
mean:  6.25
variance:  -1.5625

Venn Diagrame

-- Condictinal Probability

In [70]:

# high study count more than 20 study hours
high_study_count = (data['study_hours'] > 20).sum()
print("count the high study hours: ",high_study_count)

# pass and high study hours in the dataset
pass_and_high_study = ((data['pass_exam'] == 'Yes') & (data['study_hours'] > 20)).sum()
print("pass the exam and than high study hours: ",pass_and_high_study)


p_pass_and_high_study = pass_and_high_study / high_study_count
print("pass | high study count: ",p_pass_and_high_study)

count the high study hours:  71
pass the exam and than high study hours:  68
pass | high study count:  0.9577464788732394

Use Venn Diagrame

In [71]:
student_pass_exam = (data["pass_exam"] == "Yes").sum()
print("student pass the exam: ",student_pass_exam)
student_particepent_in_group_discussion = (data["group_discussion"] == "Yes").sum()
print("student particepate in group discussion: ",student_particepent_in_group_discussion)

student pass the exam:  104
student particepate in group discussion:  97